<h1>Sign up for early access now!</h1>
<%= form_tag "/invites", :remote => true, :id => "inviteform" do %>
  <% if !params[:id].nil? %>
    <%= hidden_field_tag :referrer, params[:id] %>
  <% end %>

  <%= text_field_tag :email, nil, :placeholder => 'your@email.com' %>
  <%= submit_tag "Submit E-mail address", :disable_with => "Submitting...", :id => "submitbutton" %>
<% end %>
