
  <div id="oneliner"><%= site_name %> is going to change the way you operate!</div>
  <div id="description">
This text is meant to be changed. Here is how VLP works:<br />
When a user submits their e-mail address, it will immediately be recorded to the
local database. The user will then be shown "sharing" icons from Facebook and
Twitter. Each successful click or referral will be recorded to the database for
that user. This makes it easier for you to allow earlier access to people who are driving traffic to your site.
  </div>
  <div id="emailform">
  <b>NOTE: I will not use any address you submit for ANYTHING.</b>
  <%= render 'form' %>
  </div>
  
  <div id="header"></div>
  <div id="jsontext"></div>

    <div align="center">
      <div id="sharing">
        <div id="sharefb"></div>
        <div id="sharetwit"></div>
      </div>
        <div id="sharelink"></div>
    </div>
</div>  
  
<% # If they have already signed up before, just redirect them to stats %>
<% if !session[:user_id].nil? %>
  <% invite = Invite.find(session[:user_id]) %>
  <script type="text/javascript">
    $("#email").val("<%= @invite.email %>");
    $("#inviteform").submit();
  </script>
<% end %>

